--pre

# Core data processing libraries
numpy
pandas
duckdb
pyarrow

# Streamlit for interactive visualization
streamlit

# Basic dependencies
setuptools

# Utilities
tqdm
matplotlib
httpx
python-dotenv
scipy

# AI dependencies
openai
pandasai>=3.0.0b0
pandasai-openai
